# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc


embedding_cache/
virtual_env/
# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db
