# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

virtual_env/
workspaces/
# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db